@media screen and (min-width:560px){

    .page-select button {
      padding-left: 0.5em;
      padding-right: 0.5em;
      width: 3.5em;
    }
    .contact-info {
      left: 75%;
    }
    .contact.show {
      left: 5%;
    }
    .profile-links {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 5%;
    }
    .see-more-tab {
      left: 0;
    }
  }
@media screen and (min-width:700px){
  .card {
    width: 90%;
  }
  .page-holder {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .highlight {
    left: 0;
  }
  .social-link.long {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}
  .profile-links {
    grid-template-columns: 33% 33% 33%;
  }
}
